/* Common Shared Styles */
body {
  font-family: "Open Sans", sans-serif;
}
.text_primary {
  color: #fd6e0a;
}
.btn_primary {
  background: #fd6e0a;
  border-radius: 5px;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
.section_tittle{
  color: #181818;
  font-size: 35px;
  text-align: center;
  font-weight: 700;
}
.section_description{
  color: #757575;
  font-size: 18px;
  text-align: center;
}
/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.nav_tittle {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
/* Header realted Styles */
.header {
  background-color: #fff8f3;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 50px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner_content {
  max-width: 500px;
}
.banner .profile_pic {
  width: 500px;
}
.banner_greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0px;
}
.banner_tittle {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
/* Main Section Start */
main{
  max-width: 1140px;
  margin: 0 auto;
}
main section{
  margin-top: 130px;
}
/* About Section Start */
.about{
  background-color: #FFF8F3;
  padding: 130px;
  border-radius: 10px;
}
.about_info_container{
  display: flex;
  justify-content: space-around;
}
.about_info{
  text-align: center;
}
.info_tittle{
  color: #757575;
}
.info_description{
  color: #474747;
}
/* Skills Related Styles */
#What_I_do{
  margin: 30px 130px;
}
.skill_container{
  display: flex;
  gap: 24px;
}
.skill{
  padding: 30px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill_description{
  color: #757575;
}
/* Resume Section Styles */
.resume_column_title{
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume_container{
  display: flex;
  gap: 50px;
}
.resume_item_title{
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.resume_item_Institute{
  margin-bottom: 20px;
  margin-top: 0px;
}
.resume_item_Institute, .resume_item_description{
  color: #757575;
}
.resume_container hr{
  margin: 30px;
}
.download_cv{
  text-align: center;
  margin-top: 50px;
}

/* Footer Styles */
footer{
  display: flex;
  gap: 100px;
  background-color: #FFF8F3;
  margin-top: 100px;
  padding: 100px 200px;
}
.footer_colum{
  width: 50%;
  /* background-color: #96ddda; */
}
.social_links a{
  margin-right: 25px;
}
.contact textarea,input[type="email"], input[type="text"]{
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  color: #757575;
  background: #fff;
  border: 0;
  border-radius: 5px;
  width: 100%;
}